LKReportingSystem/Web References/CostContractWS/WS_CostAndContract.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveProjectMapping">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="projectcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveProjectMappingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveProjectMappingResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetreiveCostApportionmentBasedOnContract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="projectgroupid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="asofdate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetreiveCostApportionmentBasedOnContractResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetreiveCostApportionmentBasedOnContractResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveProjectMappingSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveProjectMapping" />
  </wsdl:message>
  <wsdl:message name="RetrieveProjectMappingSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveProjectMappingResponse" />
  </wsdl:message>
  <wsdl:message name="RetreiveCostApportionmentBasedOnContractSoapIn">
    <wsdl:part name="parameters" element="tns:RetreiveCostApportionmentBasedOnContract" />
  </wsdl:message>
  <wsdl:message name="RetreiveCostApportionmentBasedOnContractSoapOut">
    <wsdl:part name="parameters" element="tns:RetreiveCostApportionmentBasedOnContractResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_CostAndContractSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveProjectMapping">
      <wsdl:input message="tns:RetrieveProjectMappingSoapIn" />
      <wsdl:output message="tns:RetrieveProjectMappingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetreiveCostApportionmentBasedOnContract">
      <wsdl:input message="tns:RetreiveCostApportionmentBasedOnContractSoapIn" />
      <wsdl:output message="tns:RetreiveCostApportionmentBasedOnContractSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_CostAndContractSoap" type="tns:WS_CostAndContractSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveProjectMapping">
      <soap:operation soapAction="http://tempuri.org/RetrieveProjectMapping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetreiveCostApportionmentBasedOnContract">
      <soap:operation soapAction="http://tempuri.org/RetreiveCostApportionmentBasedOnContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_CostAndContractSoap12" type="tns:WS_CostAndContractSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveProjectMapping">
      <soap12:operation soapAction="http://tempuri.org/RetrieveProjectMapping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetreiveCostApportionmentBasedOnContract">
      <soap12:operation soapAction="http://tempuri.org/RetreiveCostApportionmentBasedOnContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_CostAndContract">
    <wsdl:port name="WS_CostAndContractSoap" binding="tns:WS_CostAndContractSoap">
      <soap:address location="http://10.122.2.4/CostContractWebService/WS_CostAndContract.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_CostAndContractSoap12" binding="tns:WS_CostAndContractSoap12">
      <soap12:address location="http://10.122.2.4/CostContractWebService/WS_CostAndContract.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>