LKReportingSystemExternal/Web References/SIMAWS/WS_SIMA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCompany">
        <s:complexType />
      </s:element>
      <s:element name="GetCompanyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCompanyResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProvince">
        <s:complexType />
      </s:element>
      <s:element name="GetProvinceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProvinceResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAssetSummaryByComp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="companyID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="provinceID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAssetSummaryByCompResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAssetSummaryByCompResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAkuisisiSummaryByComp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="companyID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAkuisisiSummaryByCompResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAkuisisiSummaryByCompResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSertipikatAkanJatuhTempo">
        <s:complexType />
      </s:element>
      <s:element name="GetSertipikatAkanJatuhTempoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSertipikatAkanJatuhTempoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSertipikatSudahJatuhTempo">
        <s:complexType />
      </s:element>
      <s:element name="GetSertipikatSudahJatuhTempoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSertipikatSudahJatuhTempoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAssetDocumentChecklist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="statusAkuisisi" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAssetDocumentChecklistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAssetDocumentChecklistResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatusAkuisisi">
        <s:complexType />
      </s:element>
      <s:element name="GetStatusAkuisisiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStatusAkuisisiResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertReportParameter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parameter1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parameter2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parameter3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertReportParameterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertReportParameterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportParameter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportParameterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReportParameterResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCompanySoapIn">
    <wsdl:part name="parameters" element="tns:GetCompany" />
  </wsdl:message>
  <wsdl:message name="GetCompanySoapOut">
    <wsdl:part name="parameters" element="tns:GetCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="GetProvinceSoapIn">
    <wsdl:part name="parameters" element="tns:GetProvince" />
  </wsdl:message>
  <wsdl:message name="GetProvinceSoapOut">
    <wsdl:part name="parameters" element="tns:GetProvinceResponse" />
  </wsdl:message>
  <wsdl:message name="GetAssetSummaryByCompSoapIn">
    <wsdl:part name="parameters" element="tns:GetAssetSummaryByComp" />
  </wsdl:message>
  <wsdl:message name="GetAssetSummaryByCompSoapOut">
    <wsdl:part name="parameters" element="tns:GetAssetSummaryByCompResponse" />
  </wsdl:message>
  <wsdl:message name="GetAkuisisiSummaryByCompSoapIn">
    <wsdl:part name="parameters" element="tns:GetAkuisisiSummaryByComp" />
  </wsdl:message>
  <wsdl:message name="GetAkuisisiSummaryByCompSoapOut">
    <wsdl:part name="parameters" element="tns:GetAkuisisiSummaryByCompResponse" />
  </wsdl:message>
  <wsdl:message name="GetSertipikatAkanJatuhTempoSoapIn">
    <wsdl:part name="parameters" element="tns:GetSertipikatAkanJatuhTempo" />
  </wsdl:message>
  <wsdl:message name="GetSertipikatAkanJatuhTempoSoapOut">
    <wsdl:part name="parameters" element="tns:GetSertipikatAkanJatuhTempoResponse" />
  </wsdl:message>
  <wsdl:message name="GetSertipikatSudahJatuhTempoSoapIn">
    <wsdl:part name="parameters" element="tns:GetSertipikatSudahJatuhTempo" />
  </wsdl:message>
  <wsdl:message name="GetSertipikatSudahJatuhTempoSoapOut">
    <wsdl:part name="parameters" element="tns:GetSertipikatSudahJatuhTempoResponse" />
  </wsdl:message>
  <wsdl:message name="GetAssetDocumentChecklistSoapIn">
    <wsdl:part name="parameters" element="tns:GetAssetDocumentChecklist" />
  </wsdl:message>
  <wsdl:message name="GetAssetDocumentChecklistSoapOut">
    <wsdl:part name="parameters" element="tns:GetAssetDocumentChecklistResponse" />
  </wsdl:message>
  <wsdl:message name="GetStatusAkuisisiSoapIn">
    <wsdl:part name="parameters" element="tns:GetStatusAkuisisi" />
  </wsdl:message>
  <wsdl:message name="GetStatusAkuisisiSoapOut">
    <wsdl:part name="parameters" element="tns:GetStatusAkuisisiResponse" />
  </wsdl:message>
  <wsdl:message name="InsertReportParameterSoapIn">
    <wsdl:part name="parameters" element="tns:InsertReportParameter" />
  </wsdl:message>
  <wsdl:message name="InsertReportParameterSoapOut">
    <wsdl:part name="parameters" element="tns:InsertReportParameterResponse" />
  </wsdl:message>
  <wsdl:message name="GetReportParameterSoapIn">
    <wsdl:part name="parameters" element="tns:GetReportParameter" />
  </wsdl:message>
  <wsdl:message name="GetReportParameterSoapOut">
    <wsdl:part name="parameters" element="tns:GetReportParameterResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_SIMASoap">
    <wsdl:operation name="GetCompany">
      <wsdl:input message="tns:GetCompanySoapIn" />
      <wsdl:output message="tns:GetCompanySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProvince">
      <wsdl:input message="tns:GetProvinceSoapIn" />
      <wsdl:output message="tns:GetProvinceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAssetSummaryByComp">
      <wsdl:input message="tns:GetAssetSummaryByCompSoapIn" />
      <wsdl:output message="tns:GetAssetSummaryByCompSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAkuisisiSummaryByComp">
      <wsdl:input message="tns:GetAkuisisiSummaryByCompSoapIn" />
      <wsdl:output message="tns:GetAkuisisiSummaryByCompSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSertipikatAkanJatuhTempo">
      <wsdl:input message="tns:GetSertipikatAkanJatuhTempoSoapIn" />
      <wsdl:output message="tns:GetSertipikatAkanJatuhTempoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSertipikatSudahJatuhTempo">
      <wsdl:input message="tns:GetSertipikatSudahJatuhTempoSoapIn" />
      <wsdl:output message="tns:GetSertipikatSudahJatuhTempoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAssetDocumentChecklist">
      <wsdl:input message="tns:GetAssetDocumentChecklistSoapIn" />
      <wsdl:output message="tns:GetAssetDocumentChecklistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStatusAkuisisi">
      <wsdl:input message="tns:GetStatusAkuisisiSoapIn" />
      <wsdl:output message="tns:GetStatusAkuisisiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertReportParameter">
      <wsdl:input message="tns:InsertReportParameterSoapIn" />
      <wsdl:output message="tns:InsertReportParameterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportParameter">
      <wsdl:input message="tns:GetReportParameterSoapIn" />
      <wsdl:output message="tns:GetReportParameterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input message="tns:AuthenticateUserSoapIn" />
      <wsdl:output message="tns:AuthenticateUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_SIMASoap" type="tns:WS_SIMASoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCompany">
      <soap:operation soapAction="http://tempuri.org/GetCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvince">
      <soap:operation soapAction="http://tempuri.org/GetProvince" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssetSummaryByComp">
      <soap:operation soapAction="http://tempuri.org/GetAssetSummaryByComp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAkuisisiSummaryByComp">
      <soap:operation soapAction="http://tempuri.org/GetAkuisisiSummaryByComp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSertipikatAkanJatuhTempo">
      <soap:operation soapAction="http://tempuri.org/GetSertipikatAkanJatuhTempo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSertipikatSudahJatuhTempo">
      <soap:operation soapAction="http://tempuri.org/GetSertipikatSudahJatuhTempo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssetDocumentChecklist">
      <soap:operation soapAction="http://tempuri.org/GetAssetDocumentChecklist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatusAkuisisi">
      <soap:operation soapAction="http://tempuri.org/GetStatusAkuisisi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertReportParameter">
      <soap:operation soapAction="http://tempuri.org/InsertReportParameter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportParameter">
      <soap:operation soapAction="http://tempuri.org/GetReportParameter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="http://tempuri.org/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_SIMASoap12" type="tns:WS_SIMASoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCompany">
      <soap12:operation soapAction="http://tempuri.org/GetCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvince">
      <soap12:operation soapAction="http://tempuri.org/GetProvince" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssetSummaryByComp">
      <soap12:operation soapAction="http://tempuri.org/GetAssetSummaryByComp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAkuisisiSummaryByComp">
      <soap12:operation soapAction="http://tempuri.org/GetAkuisisiSummaryByComp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSertipikatAkanJatuhTempo">
      <soap12:operation soapAction="http://tempuri.org/GetSertipikatAkanJatuhTempo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSertipikatSudahJatuhTempo">
      <soap12:operation soapAction="http://tempuri.org/GetSertipikatSudahJatuhTempo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssetDocumentChecklist">
      <soap12:operation soapAction="http://tempuri.org/GetAssetDocumentChecklist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatusAkuisisi">
      <soap12:operation soapAction="http://tempuri.org/GetStatusAkuisisi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertReportParameter">
      <soap12:operation soapAction="http://tempuri.org/InsertReportParameter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportParameter">
      <soap12:operation soapAction="http://tempuri.org/GetReportParameter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <soap12:operation soapAction="http://tempuri.org/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_SIMA">
    <wsdl:port name="WS_SIMASoap" binding="tns:WS_SIMASoap">
      <soap:address location="http://localhost:52387/WS_SIMA.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_SIMASoap12" binding="tns:WS_SIMASoap12">
      <soap12:address location="http://localhost:52387/WS_SIMA.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>