LKReportingSystem/LKReportingSystem/Web References/BudgetMktWS/WS_BudgetMarketing.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudgetMktActualExpense">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProjectCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudgetMktActualExpenseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getBudgetMktActualExpenseResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudgetMktActualExpenseDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProjectCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBudgetMktActualExpenseDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBudgetMktActualExpenseDetailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="getBudgetMktActualExpenseSoapIn">
    <wsdl:part name="parameters" element="tns:getBudgetMktActualExpense" />
  </wsdl:message>
  <wsdl:message name="getBudgetMktActualExpenseSoapOut">
    <wsdl:part name="parameters" element="tns:getBudgetMktActualExpenseResponse" />
  </wsdl:message>
  <wsdl:message name="getBudgetMktActualExpenseDetailSoapIn">
    <wsdl:part name="parameters" element="tns:getBudgetMktActualExpenseDetail" />
  </wsdl:message>
  <wsdl:message name="getBudgetMktActualExpenseDetailSoapOut">
    <wsdl:part name="parameters" element="tns:getBudgetMktActualExpenseDetailResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_BudgetMarketingSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBudgetMktActualExpense">
      <wsdl:input message="tns:getBudgetMktActualExpenseSoapIn" />
      <wsdl:output message="tns:getBudgetMktActualExpenseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBudgetMktActualExpenseDetail">
      <wsdl:input message="tns:getBudgetMktActualExpenseDetailSoapIn" />
      <wsdl:output message="tns:getBudgetMktActualExpenseDetailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_BudgetMarketingSoap" type="tns:WS_BudgetMarketingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudgetMktActualExpense">
      <soap:operation soapAction="http://tempuri.org/getBudgetMktActualExpense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudgetMktActualExpenseDetail">
      <soap:operation soapAction="http://tempuri.org/getBudgetMktActualExpenseDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_BudgetMarketingSoap12" type="tns:WS_BudgetMarketingSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudgetMktActualExpense">
      <soap12:operation soapAction="http://tempuri.org/getBudgetMktActualExpense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBudgetMktActualExpenseDetail">
      <soap12:operation soapAction="http://tempuri.org/getBudgetMktActualExpenseDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_BudgetMarketing">
    <wsdl:port name="WS_BudgetMarketingSoap" binding="tns:WS_BudgetMarketingSoap">
      <soap:address location="http://10.122.2.4/BudgetMktWebService/WS_BudgetMarketing.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_BudgetMarketingSoap12" binding="tns:WS_BudgetMarketingSoap12">
      <soap12:address location="http://10.122.2.4/BudgetMktWebService/WS_BudgetMarketing.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>